# Configuration file - chezmoi https://www.chezmoi.io/reference/configuration-file/
# .chezmoi.<format>.tmpl - chezmoi https://www.chezmoi.io/reference/special-files/chezmoi-format-tmpl/
# Variables - chezmoi https://www.chezmoi.io/reference/configuration-file/variables/

sourceDir: {{ .chezmoi.homeDir }}/repos/github.com/knaka/src/conf/chezmoi-source
mode: symlink
add.templateSymlinks: true
