.DS_Store
.venv
node_modules
.idea
/.syncignored
/.claude

/.vscode/*
!/.vscode/settings.json
!/.vscode/tasks.json
!/.vscode/launch.json
!/.vscode/extensions.json
/*.code-workspace
!/default.code-workspace
/.devcontainer/devcontainer.json
/.devcontainer/docker-compose.override.yml
