-- {{ (ds "data").message }}

module Commands (registerAll) where

import Command

{{- range (ds "data").list }}
import {{ .name }}
{{- end }}

registerAll :: [Command.Info] -> [Command.Info]
registerAll cmds =
  {{- range (ds "data").list }}
  {{ .name }}.commandInfo:
  {{- end }}
  cmds
