-- {{ (ds "data").message }}

module Commands (registerAll) where

import Command

import qualified Greet
import qualified Hello

registerAll :: [Command.Info] -> [Command.Info]
registerAll cmds =
  {{- range (ds "data").list }}
  {{ .name }}.commandInfo:
  {{- end }}
  cmds
